@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

  /* light */
  :root{
  --primary-light: #006a64;
  --primary-container-light: #52faed;
  --on-primary-light: #ffffff;
  --on-primary-container-light: #00201e;
  --secondary-light: #4a6360;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #cce8e4;
  --on-secondary-container-light: #051f1d;
  --tertiary-light: #47617a;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #cfe5ff;
  --on-tertiary-container-light: #001d33;
  --background-light: #fafdfb;
  --on-background-light: #191c1c;
  --surface-light: #fafdfb;
  --on-surface-light: #191c1c;
  --surface-variant-light: #dae5e2;
  --on-surface-variant-light: #3f4947;
  --outline-light: #6f7977;
  --surface-tint-light: #006a64;
  --outline-variant-light: #bec9c6;
  --scrim-light: #000000;
}
/* .dark-mode */
.dark-mode{
    --primary-light: #1fddd1;
    --primary-container-light: #00504b;
    --on-primary-light: #003733;
    --on-primary-container-light: #52faed;
    --secondary-light: #b0ccc8;
    --on-secondary-light: #1c3532;
    --secondary-container-light: #324b49;
    --on-secondary-container-light: #cce8e4;
    --tertiary-light: #afc9e7;
    --on-tertiary-light: #18324a;
    --tertiary-container-light: #304962;
    --on-tertiary-container-light: #cfe5ff;
    --background-light: #191c1c;
    --on-background-light: #e0e3e2;
    --surface-light: #191c1c;
    --on-surface-light: #e0e3e2;
    --surface-variant-light: #3f4947;
    --on-surface-variant-light: #bec9c6;
    --outline-light: #899391;
    --surface-tint-light: #1fddd1;
    --outline-variant-light: #3f4947;
    --scrim-light: #000000;
}

body {
    background: var(--background-light);
    color: var(--on-background-light);
}
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-container-light);
    color: var(--on-primary-container-light);
    right: 15px;
    top: 65px;
    z-index: 100;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-light);
    z-index: 100;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo p{
    font-size: 1.2rem;
    color: var(--on-primary-light);
}

.logo img{
    width: 25%;
    height: 25%;
}

.header a{
    font-size: 1.2rem;
    color: var(--on-primary-light);
    font-weight: 500;
    transition: .3s;
}

.header a:hover{
    color: var(--on-primary-container-dark);
}

.nav-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--secondary-container-light);
    top: 60px;
    transition: width .5s ease,left .5s ease,background-color .3s ease;
}

.mini-nav-lateral{
    width: 80px;
}

.nav-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 12px;
    text-align: left;
    opacity: 1;
    transition: opacity .5s ease,width .5s ease;
}

.nav-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/* titulo del nav */
.nav-lateral .titulo-nav{
    width: 100%;
    height: 45px;
    color: var(--primary-light);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nav-lateral .titulo-nav ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
    transition: .3s;
}
.nav-lateral .titulo-nav ion-icon:hover{
    color: var(--primary-light);
}

.nav-lateral .titulo-nav span{
    font-size: 25px;
    margin-left: 5px;
    opacity: 1;
    transition: opacity .5s ease;
}

.nav-lateral .titulo-nav span.oculto{
    opacity: 0;
}

/* navegacion */
.nav-lateral {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-lateral::-webkit-scrollbar{
    width: 5px;
}

.nav-lateral::-webkit-scrollbar-thumb{
    background-color: var(--surface-variant-light);
    border-radius: 5px;
}

.nav-lateral::-webkit-scrollbar-thumb:hover{
    background-color: var(--on-surface-variant-light);
    border-radius: 5px;
}

.nav-lateral li{
    display: flex;
    margin-bottom: 5px;
    /* flex-direction: column;
    justify-content: center;
    padding: 15px; */
    list-style: none;
}

.nav-lateral a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: var(--on-secondary-container-light);
    transition: .3s;
}

.nav-lateral a:hover{
    background-color: var(--primary-container-light);
    color: var(--on-primary-container-light);
}

.nav-lateral ion-icon{
    min-width: 50px;
    font-size: 25px;
}

/* modo oscuro */
.nav-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--on-secondary-container-light);
}

.nav-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}

/* switch */
.nav-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}

.nav-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--primary-container-light);
    width: 35px;
    height: 20px;
    border-radius: 50px;
}

.nav-lateral .modo-oscuro .circulo{
    position: absolute;
    background-color: var(--on-primary-container-light);
    width: 18px;
    height: 90%;
    border-radius: 50px;
    left: 2px;
    transition: left .5s ease;
}

.nav-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}

main{
    margin-top: 60px;
    margin-left: 250px;
    /* padding: 20px; */
    transition: margin-left .5s ease;
}
main.min-main{
    margin-left: 80px;
}

/* diseño inicio */
.principal{
    /* background-image: url(images/supermercado.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    padding: 70px 10px 20px;
    background-color: var(--background-light);
}

.principal .contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.all-titles{
    font-size: 40px;
    background-color: var(--primary-container-light);
    color: var(--on-primary-container-light);
    border-radius: 15px;
    padding: 10px 20px;
}

.principal p{
    margin: 25px 80px;
    display: flex;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 10px 20px;
    color: var(--on-background-light);
}

.principal .tabla-inicio{
    border-collapse: collapse;
    font-size: 18px;
    min-width: 400px;
    width: 500px;
    /* overflow: hidden; */
    box-shadow: 0 0 20px rgb 0,0,0, 15;
}
.tabla-inicio thead{
    background-color: var(--primary-container-light);
    color: var(--on-primary-container-light);
    text-align: left;
    font-weight: bold;
}
.tabla-inicio th{
    border-radius: 15px 15px 0 0;
}
.tabla-inicio .resalto{
    color: var(--primary-light);
    font-weight: bold;
}
.tabla-inicio th, td{
    padding: 5px 12px;
}
.tabla-inicio tbody tr{
    border-bottom: 1px solid var(--outline-light);
    background-color: var(--surface-variant-light);
}
.tabla-inicio tbody tr:nth-of-type(even){
    background-color: var(--tertiary-container-light);
}
.tabla-inicio tbody tr:last-of-type{
    border-bottom: 2px solid var(--primary-light);
}

/* diseño funciones */
.funciones{
    padding: 70px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.funciones .nota{
    border: 3px dashed var(--primary-light);
    border-radius: 15px;
    padding: 10px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
  }
  .orderlista {
    border-radius: 5px;
    width: 600px;
    padding: 10px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    cursor: default;
  }
  .orderlista li{
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    background-color: var(--secondary-container-light);
    color: var(--on-secondary-container-light);
    list-style-position: inside;
    padding: 10px;
    transition: .8s;
  }
  .orderlista li::marker{
    color: var(--on-primary-container-light);
    font-size: 1.5rem;
  }
  
  .orderlista li:hover{
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    background-color: var(--primary-container-light);
    color: var(--on-primary-container-light);
    list-style-position: inside;
    padding: 10px;
  }
  .deslista{
    border-radius: 5px;
    width: auto;
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .deslista li{
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    background-color: var(--secondary-container-light);
    color: var(--on-secondary-container-light);
    list-style-position: inside;
    padding: 10px;
    font-size: 1rem;
    cursor: default;
    transition: .5s;
  }
  .deslista li::marker{
    color: var(--on-primary-container-light);
    font-size: 1.5rem;
  }
  .deslista li:hover{
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    background-color: var(--primary-container-light);
    color: var(--on-primary-container-light);
    list-style-position: inside;
    padding: 10px;
    font-size: 2rem;
  }

  /* diseño presentacion personal mujer */










/* responsive */
@media (max-width: 600px){
    .nav-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}